$fullwidth: 960px;
@import url("http://fonts.googleapis.com/css?family=Exo:400,700,900&subset=latin,latin-ext");

@font-face {
    font-family: baronkuffnerce; /* deklarace fontu */
    src: url("baronkuffnerce.ttf"); /* propojení na umístění souboru */
}

body {
	font-family: 'Exo', sans-serif;
	color: white;
	background: url("http://overkill.pl/includes/img_news/8514ed32968ac78a4fef.jpg") no-repeat top left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: black;
}

#container {
	width: $fullwidth;
	margin: 2% auto 0;
	padding: 20px 20px 0;
	background-color: rgba(150,150,150,0.015);
}

article {
	margin-top: 90px;
	background-color: rgba(150,150,150,0.8);
	color: black;
	p {
		padding: 15px;
		clear: both;
	}
	img {
		width: 100%;
	}
	.half {
		width: 50%;
		float: left;
	}

}

header {
	width: 100%;
	height: 400px;
	img {
		display: block;
 		margin: 0 auto;
 		width: $fullwidth;
	}
	nav {
		padding: 0 auto;
		position: relative;
		transition: 1s ease;
	}
	.fixed{
		position: fixed;
		width: 100%;
		left: 0; 
		top: 0; 
	}

	ul {
		margin: 0 auto;
		width: $fullwidth;
		text-align: center;
		/* background-color: rgba(black,0.8); */
	}

	li {
		display: inline;
	}
	
	a {
		font-family: baronkuffnerce;
		color: black;
		text-transform: uppercase;
		display: inline;
		width: 50px;
		height: 30px;
		font-size: 3rem;
		font-weight: 900;
		text-decoration: none;
		text-shadow: 0px 0px 5px rgba(white, 1);
		margin: 0 8px;
		padding: 2px 0;
		transition: .20s ease;
		vertical-align: middle;
		&:hover {
			transition: .20s ease;
			color: black;
			font-size: 4rem;
			
			text-shadow: 2px 2px 0px rgba(red,0.8),
						-2px 2px 0px rgba(red,0.8),
						2px -2px 0px rgba(red,0.8),
						-2px -2px 0px rgba(red,0.8);
		}
	}
}

footer {
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	width: 100%;
	background-color: rgba(black, 0.9);
	img {
		margin: 0 auto;
	}
}
